﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    font-size: x-large;
    font-weight: 800;
}

.mod {
    padding-bottom: 30px;
    font-weight: 600;
}

.state {
    max-width: 120px;
    border: solid 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.state-inactive {
    border-color: white;
}

.state-normal {
    border-color: darkgreen;
    background-color: lightgreen;
    color: darkgreen;
}

.state-medium {
    border-color: darkorange;
    background-color: yellow;
    color: darkorange;
}

.state-extreme {
    border-color: darkred;
    background-color: red;
    color: darkred;
}

.state-unknown {
    border-color: darkgray;
    background-color: lightgray;
    color: darkgray;
}

table {
    margin: 0 auto;
}

td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
