﻿@using szk.Models

@{
    ViewBag.Title = "Стање";
}

@section Scripts {
    <script>
        function updateState(id, state) {
            $.ajax({
                url: '/Home/Update/' + id + '?state=' + state,
                type: 'POST',
                success: function (result) {
                    prefix = '#b-' + id + '-';
                    $(prefix).text(result.LastChange);

                    if (state == 0) $(prefix + '0').attr('class', 'btn btn-success');
                    else $(prefix + '0').attr('class', 'btn btn-default');

                    if (state == 1) $(prefix + '1').attr('class', 'btn btn-warning');
                    else $(prefix + '1').attr('class', 'btn btn-default');

                    if (state == 2) $(prefix + '2').attr('class', 'btn btn-danger');
                    else $(prefix + '2').attr('class', 'btn btn-default');

                    $(prefix + '3').attr('class', 'btn btn-default');
                },
                error: function (xhr, status) {
                    alert('Грешка приликом промене стања!');
                }
            });
        }
    </script>
}

<div>

    <div class="mod">
        ~ @Model.Message ~
    </div>

    <table>
        <tr>
            <td colspan="5">СТАЊЕ КЛОЊА</td>
        </tr>

        <tr>
            <td>сп.</td>
            <td>пол</td>
            <td>#</td>
            <td>стање</td>
            <td>промена</td>
        </tr>

        @foreach (var floor in Model.Data)
        {
            int floorSpan = floor.Count;
            foreach (var type in floor.Toilets)
            {
                int typeSpan = type.Count;
                foreach (var toilet in type.Toilets)
                {
                    string id = string.Empty;
                    string prefix = string.Format("b-{0}-", toilet.Id);

                    <tr>

                        @if (floorSpan > 0)
                        {
                            <td rowspan="@floorSpan">
                                @floor.Floor
                            </td>

                            floorSpan = 0;
                        }

                        @if (typeSpan > 0)
                        {
                            <td rowspan="@typeSpan">
                                @if (type.Type == ToiletType.Female)
                                {
                                    <img src="~/Content/toilet_female.png" alt="женски" />
                                }
                                else if (type.Type == ToiletType.Male)
                                {
                                    <img src="~/Content/toilet_male.png" alt="мушки" />
                                }
                                else
                                {
                                    <img src="~/Content/toilet_disabled.png" alt="инвалиди" />
                                }
                            </td>

                            typeSpan = 0;
                        }

                        <td>
                            @toilet.ToiletNo
                        </td>

                        <td>
                            @{
                                string state = string.Empty;

                                <!-- normal -->

                                id = prefix + '0';
                                state = toilet.State == ToiletState.Normal ? "btn btn-success" : "btn btn-default";
                                <button id="@id" type="button" class="@state" onclick="updateState('@toilet.Id', 0)">Чистро</button>

                                <!-- medium -->

                                id = prefix + '1';
                                state = toilet.State == ToiletState.Medium ? "btn btn-warning" : "btn btn-default";
                                <button id="@id" type="button" class="@state" onclick="updateState('@toilet.Id', 1)">Онако</button>

                                <!-- extreme -->

                                id = prefix + '2';
                                state = toilet.State == ToiletState.Extreme ? "btn btn-danger" : "btn btn-default";
                                <button id="@id" type="button" class="@state" onclick="updateState('@toilet.Id', 2)">Засрано</button>

                                <!-- unknown -->

                                id = prefix + '3';
                                state = toilet.State > ToiletState.Extreme || toilet.State < ToiletState.Normal
                                                    ? "btn btn-primary" : "btn btn-default";
                                <button id="@id" type="button" class="@state">Непознато</button>
                            }
                        </td>

                        <td>
                            <span id="@prefix">
                                @toilet.LastChange.ToString("yyyy-MM-dd HH:mm")
                            </span>
                        </td>

                    </tr>
                }
            }
        }
    </table>

</div>
