﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ШЗК Сервис</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">

        <div class="title">
            <img src="~/Content/toilet.png" alt="лого" /><br />
            ШТО СИ ЗАСР'О КЛОЊУ?
        </div>
        
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ШЗК Пројекат</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
